.title__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title__container > h2 {
  font-size: 27px;
  font-weight: 600;
  color: var(--gray100);
}

.brand__title {
  color: var(--brand100);
}

.paragraph__presentation {
  margin-top: 0.75rem;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2.25rem;
  color: var(--gray100);
  width: 331px;
}

.paragraph__information {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray300);
  width: 328px;
}

.images__container {
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
}

.left_images {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 220px;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.0625rem solid var(--gray600);
  border-radius: 0.25rem;
  width: 368px;
  height: 550px;
  padding: 35px 24px;
}

.form__container > h2 {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--gray100);
}

.input__container {
  margin-top: 15px;
}

.input__container > label {
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--gray100);
}

.input__login {
  margin-top: 8px;
  width: 321px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid var(--gray600);
  background-color: var(--gray800);
}

.input__login::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0 13px;
}

.button__login {
  margin-top: 45px;
  border-radius: 4px;
  background-color: var(--brand100);
  border: 1px solid var(--brand100);
  width: 329px;
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--gray900);
}

.button__login:hover {
  background-color: var(--brand200);
  cursor: pointer;
}

.login__account {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login__account > span {
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray100);
}

.login__account > p {
  text-align: center;
  margin-top: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 21px;
  width: 100%;
  color: var(--gray300);
}

.signup__container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__signup {
  text-decoration: none;
  border: 1px solid var(--gray600);
  border-radius: 0.25rem;
  text-align: center;
  width: 328px;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray100);
  padding: 8px 12px;
}

.loading__login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.spinner {
  margin-top: 2rem;
  text-align: center;
  height: 25px;
  width: 25px;
  border-top: 2px solid var(--brand100);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
