.modal__controller__newPost {
  width: 800px;
  height: 440px;
  background-color: var(--gray900);
  padding: 0;
  border: none;
  border-radius: 8px;
}

.modal__controller__newPost ::backdrop {
  background-color: #ffffff70;
}

.newpost_modal__container {
  width: 800px;
  height: 430px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.newpost_modal__container > p {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--gray100);
}
#closeModalButton {
  position: absolute;
  top: 30px;
  right: 28px;
  font-family: "nunito", "sans-serif";
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: var(--gray600);
  color: var(--gray400);
  border-radius: 0.25rem;
  border: none;
  font-weight: 700;
}

.input__container {
  margin-top: 33px;
}

.input__container > label {
  font-weight: 500;
  font-size: 1rem;
  color: var(--gray100);
}

.create__task {
  margin-top: 8px;
  width: 700px;
  padding: 12px 17px;
  border: 1px solid rgba(217, 217, 217, 1);
  background-color: var(--gray700);
}

.create__task:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.create__task::placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray400);
}

#post__content {
  height: 100px;
  resize: none;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  width: 100%;
  gap: 14px;
  padding: 0 14px;
}

#cancelPublication {
  border-radius: 0.25rem;
  width: 100px;
  padding: 8px 12px;
  background-color: var(--gray600);
  border: 1px solid var(--gray600);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray400);
  cursor: pointer;
}

#cancelPublication:hover {
  background-color: var(--gray500);
}
#sendPublication {
  border-radius: 0.25rem;
  width: 100px;
  padding: 8px 12px;
  background-color: var(--brand100);
  border: 1px solid var(--brand100);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray900);
  cursor: pointer;
}

#sendPublication:hover {
  background-color: var(--brand200);
}

.modal__controller__editPost {
  width: 800px;
  height: 1000px;
  background-color: var(--gray900);
  padding: 0;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.modal__controller__editPost ::backdrop {
  background-color: #ffffff70;
}

.edit_post_modal__container {
  width: 800px;
  height: 680px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 32px 24px;
}

.edit_post_modal__container > p {
  font-size: 1.25rem;
  color: var(--gray100);
  font-weight: 500;
}

#close__button {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 26px;
  right: 28px;
  font-family: "nunito", "sans-serif";
  cursor: pointer;
  background-color: var(--gray600);
  color: var(--gray400);
  border-radius: 0.25rem;
  border: none;
  font-weight: 700;
}

.edit__container {
  margin-top: 34px;
}

.edit__container > label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray100);
}

.edit__post {
  margin-top: 10px;
  width: 700px;
  padding: 12px 17px;
  border: 1px solid rgba(217, 217, 217, 1);
  background-color: var(--gray700);
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray100);
}

.edit__post:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#editContent {
  height: 200px;
  resize: none;
}

.edit__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  margin-top: 20px;
  padding: 0 15px;
}

#cancelEditPublication {
  border-radius: 0.25rem;
  width: 100px;
  padding: 8px 12px;
  background-color: var(--gray600);
  border: 1px solid var(--gray600);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray400);
  cursor: pointer;
}

#cancelEditPublication:hover {
  background-color: var(--gray500);
}

#editPublication {
  width: 130px;
  border-radius: 0.25rem;
  padding: 8px 12px;
  background-color: var(--brand100);
  border: 1px solid var(--brand100);
  font-weight: 500;
  color: var(--gray900);
  cursor: pointer;
}

#editPublication:hover {
  background-color: var(--brand200);
}

.modal__controller__exclusionConfirmation {
  width: 800px;
  height: 220px;
  background-color: var(--gray900);
  padding: 0;
  border: none;
  border-radius: 8px;
}

.modal__controller__exclusionConfirmation ::backdrop {
  background-color: #ffffff70;
}

.exclusionModal__container {
  width: 800px;
  height: 220px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.exclusionModal__closure {
  position: relative;
}

.exclusionModal__closure > p {
  font-weight: 500;
  font-size: 18px;
  color: var(--gray100);
}

#closeModalExclusionButton {
  position: absolute;
  width: 36px;
  height: 36px;
  bottom: -5px;
  right: 10px;
  font-family: "nunito", "sans-serif";
  cursor: pointer;
  background-color: var(--gray600);
  color: var(--gray400);
  border-radius: 0.25rem;
  border: none;
  font-weight: 700;
}

.exclusionModal__content {
  margin-top: 26px;
}

.exclusionModal__content > h3 {
  font-weight: 500;
  font-size: 22px;
  color: var(--gray100);
  margin-bottom: 12px;
}

.exclusionModal__content > p {
  color: var(--gray300);
  font-size: 1rem;
  font-weight: 400;
}

.exclusionModal__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 30px;
}

#cancelExclusionModal {
  border-radius: 0.25rem;
  width: 100px;
  padding: 8px 12px;
  background-color: var(--gray600);
  border: 1px solid var(--gray600);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray400);
  cursor: pointer;
}

#cancelExclusionModal:hover {
  background-color: var(--gray500);
}

#exclusionButton {
  width: 170px;
  border-radius: 0.25rem;
  padding: 8px 5px;
  background-color: var(--alert100);
  border: 1px solid var(--alert100);
  font-weight: 500;
  cursor: pointer;
  color: var(--gray900);
  font-size: 1rem;
}

.modal__controller__accessPost {
  width: 800px;
  height: 570px;
  background-color: var(--gray900);
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.modal__controller__accessPost ::backdrop {
  background-color: #ffffff70;
}

.modalAcess__container {
  width: 800px;
  height: 570px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  position: relative;
}

#closeAccessModal {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 38px;
  right: 28px;
  font-family: "nunito", "sans-serif";
  cursor: pointer;
  background-color: var(--gray600);
  color: var(--gray400);
  border-radius: 0.25rem;
  border: none;
  font-weight: 700;
}

.Access__info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.Access__info {
  display: flex;
  justify-content: flex-start;
  gap: 22px;
}

.modalUserName {
  margin-top: 15px;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray100);
}

.modalUserData {
  margin-top: 15px;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray400);
}

.modalSpanSymbol {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--gray600);
}

.Access__post > h2 {
  margin-top: 48px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--gray100);
}

.Access__post > p {
  margin-top: 25px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray300);
}
